body  {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #e5e5e5;
}

form {
  height: 50vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.userInfo {
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"] {
  background-color: #e50914;
  color: #e5e5e5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.item {
  text-align: center;
  box-shadow: 0px 0px 10px #e50914;
  width: 300px;
  margin: 10px auto;
  padding-top: 5px;
  padding-bottom: 5px;
}