nav  a {
    margin-right: 10px;
    display: inline-block;
    /* a tag is inline element so its means it doesnt have margin bottom. You have to swtich it to inline - block element*/
    text-decoration: none;
    color: #e5e5e5;
}
nav {
    margin-top: 25px;
    margin-bottom: 25px;
}
.active {
    text-decoration: underline;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}